body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1f1f1f;
  color: #fff;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

p {
  font-size: 12px;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #282828fa;
  height: 1.6rem;
  padding: 1rem;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.header-left .youtube {
  width: 80px;
  height: 88px;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-middle div {
  flex: 1;
  display: flex;
}

.header-middle .search-input {
  flex: 1;
  padding: 9px;
  font-size: 0.9rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid rgb(49, 49, 49);
  outline: none !important;
}

.header-middle button {
  flex: 0.1;
  border: 1px solid rgb(49, 49, 49);
  background-color: #393939;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.icons {
  width: 30px;
  height: 30px;
}

.profile {
  border-radius: 50%;
}

header img,
.subscribe img,
.views img,
.thumb-icon img {
  width: 20px;
  height: 22px;
  cursor: pointer;
}

section {
  width: 95%;
  height: 1500px;
  margin: auto;
  background-color: #1f1f1f;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 3.4;
  background-color: #1f1f1f;
  height: auto;
}

.left .profile {
  width: 40px;
  height: 40px;
}

.left .video {
  height: 43.75rem;
  width: 100%;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.video-desc {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #282828fa;
}

.video-desc .title h2 {
  margin-bottom: 0;
}

.video-desc .views {
  display: flex;
  justify-content: space-between;
  color: #aaa;
}

.video-desc .views .views-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  gap: 20px;
  font-size: 0.8rem;
}

.video-desc .views .views-icons .icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #aaa;
  height: 95%;
}

.video-desc .views .views-icons .icons-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 95%;
}

.channel-desc {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
  border-bottom: 1px solid #282828fa;
}

.channel-desc .channel-profile {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.channel-desc .channel-profile-desc {
  display: flex;
  flex-direction: column;
}

.channel-desc .channel-profile-desc div {
  display: flex;
  gap: 5px;
}

.channel-desc .channel-profile-desc img {
  width: 1rem;
}

.channel-desc .channel-profile-desc h3 {
  margin: 0;
}

.channel-desc .channel-profile-desc p {
  margin-top: 0;
  color: #aaa;
}

.channel-desc .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.channel-desc .subscribe-btn {
  padding: 10px;
  border-style: none;
  background-color: #393939;
  color: #fff;
  cursor: pointer;
}

.left .comments {
  flex: 3;
  width: 100%;
  background-color: #1f1f1f;
  margin-top: 1rem;
}

.comments .comment-count {
  display: flex;
  gap: 10px;
}

.comments .comment-count p {
  font-size: 1rem;
}

.comments .grey {
  color: #aaa;
  font-weight: bold;
}

.comments .your-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  background-color: #1f1f1f;
}

.comments .your-comment .comment-input {
  flex-grow: 1;
  align-self: self-start;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #393939;
  outline: none !important;
  color: white;
}

.comments .comment-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comments .comment-list .comment {
  background-color: #1f1f1f;
  display: flex;
  gap: 10px;
}

.comment .comment-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.comment p {
  margin: 0;
}

.comment .comment-info div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #aaa;
}

.comment-info span {
  font-size: 0.7rem;
}

.comment-info div .small-icons {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
}

.right .buttons {
  padding: 10px 5px;
}

.right .buttons a {
  padding: 0.4rem 0.9rem;
  margin-right: 1rem;
  border-radius: 15px;
  font-size: 0.9rem;
  background-color: #393939;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.right .buttons a:first-child {
  color: #1f1f1f;
  background-color: #fff;
}

.right .thumbnail {
  display: flex;
  width: 100%;
  background-color: #1f1f1f;
  gap: 10px;
}

.thumbnail .thumb-img {
  cursor: pointer;
}

.thumbnail .thumb-img-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  width: 200px;
  height: 110px;
}

.thumbnail .thumb-img-overlay .overlay-icons {
  visibility: hidden;
}

.thumb-img-overlay .overlay-icons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0.4rem 0.4rem 0 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  border-style: none;
}

.thumb-img-overlay .overlay-icons img {
  width: 20px;
  height: 20px;
}

.thumb-img-overlay .duration {
  margin-right: 0.4rem;
}

.thumb-img-overlay .duration span {
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.719);
}

.thumbnail .thumb-img .bigger {
  width: 200px;
  height: 110px;
}

.thumbnail .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  flex: 2;
}

.thumbnail .text h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  margin: 5px 0 0;
  width: 90%;
  cursor: pointer;
}

.thumbnail .text p {
  font-size: 0.8rem;
  color: #aaa;
  margin: 0;
  cursor: pointer;
}

.thumbnail .thumb-icon {
  visibility: hidden;
  flex: 0.1;
}

.thumbnail .thumb-icon img {
  margin-top: 0.5rem;
  cursor: pointer;
}

hr {
  width: 100%;
  background-color: #282828fa;
  border: 1px solid #282828fa;
}

/* Enabling visibility for some items */

.thumb-img-overlay:hover > .overlay-icons {
  visibility: visible;
}

.thumbnail:hover > .thumb-icon {
  visibility: visible;
}

@media (max-width: 900px) {
  .right {
    flex: 3.4;
  }
}
